.contacts {
  display: flex;
  align-items: center;
  width: 661px;
}

.contacts__email {
  margin-right: 88px;
  width: 135px;

  img {
    width: 19px;
    height: 14px;
    margin-right: 20px;
  }

  a {
    text-align: center;
    color: #ffffff;
  }
}

.contacts__phone {
  margin-right: 48px;
  width: 207px;

  img {
    width: 18px;
    height: 18px;
    margin-right: 16px;
  }

  a {
    text-align: center;
    color: #ffffff;
  }
}

.contacts__email a,
.contacts__phone a {
  display: flex;
  align-items: center;
}

.contacts__email,
.contacts__phone {
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
}

.contacts__email a:hover,
.contacts__phone a:hover,
.contacts__callback:hover {
  color: $style-blue;
}

.contacts__email a:focus,
.contacts__phone a:focus,
.contacts__callback:focus {
  outline: none;
  color: $style-blue;
  transform: scale(0.95, 0.95);
}

.contacts__callback {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0;
  min-width: 131px;
  padding: 14px 3.7%;
  box-sizing: content-box;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: $tablet) {

  .contacts__email a:hover,
  .contacts__phone a:hover {
    transform: scale(0.95, 0.95);
  }

  .contacts {
    width: 82px;
  }

  .contacts__email {
    width: 25px;
    margin-right: 33px;

    img {
      width: 25px;
      height: 19px;
    }
  }

  .contacts__phone {
    width: 24px;
    margin-right: 0;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .contacts__email span,
  .contacts__phone span,
  .contacts__callback {
    display: none;
  }
}

@media (max-width: $mobile) {
  .contacts {
    width: 71px;
  }

  .contacts__email {
    margin-right: 24px;
  }
}
