.developer {
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 813px;
  justify-content: space-between;
  color: #1B2D37;
  opacity: 0.5;
  flex-grow: 1;
}

@media (max-width: $tablet) {
  .developer {
    max-width: none;
    flex-direction: row;
    align-items: center;
    padding: 0 0 23px;
  }
}

@media (max-width: $mobile) {
  .developer {
    flex-direction: column;
    padding: 18px 0 15px;

    span {
      margin: 10px 0 11px;
    }
  }
}
