.footer {
  width: 100%;
  position: relative;
  padding-bottom: 14px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #353735;
    opacity: 0.2;
    bottom: 52px;
  }
}

.footer__top-wrapper {
  width: 100%;
  background-color: #00B2FF;
  padding: 90px 0 113px;
  position: relative;
  overflow: hidden;
}

.footer__bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1411px;
  padding: 0 25px;
  margin: 65px auto 0;
  justify-content: space-between;
}

@media (max-width: $tablet) {
  .footer {
    position: relative;
    padding-bottom: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  .footer__top-wrapper {
    padding: 81px 0 103px;
  }

  .footer__bottom-wrapper {
    padding: 19px 25px 0;
    flex-direction: row;
    margin-top: 0;
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #353735;
      opacity: 0.2;
      position: absolute;
      left: 0;
    }

    &::before {
      top: 96px;
    }

    &::after {
      bottom: 69px;
    }
  }
}

@media (max-width: $mobile) {
  .footer::before,
  .footer::after {
    display: none;
  }

  .footer__top-wrapper {
    padding: 31px 0 42px;
  }

  .footer__bottom-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 46px;

    &::before,
    &::after {
      display: none;
    }
  }
}
