.header {
  width: 100%;
}

.header__wrapper {
  max-width: 1411px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin: 33px auto 0;
  position: relative;
  z-index: 2;
}

@media (max-width: $tablet) {
  .header__wrapper {
    margin-top: 18px;
    padding: 0 25px;
  }
}

@media (max-width: $mobile) {
  .header__wrapper {
    padding: 0 18px;
    margin-top: 16px;
  }
}
