.logo-social {
  max-width: 414px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.logo-social__logo {
  margin-bottom: 54px;
  width: 216px;

  span {
    margin-bottom: 55px;
    color: #203C42;
  }
}

@media (max-width: $tablet) {
  .logo-social {
    flex-direction: row;
    justify-content: space-between;
    order: -1;
    flex-grow: 1;
    margin-bottom: 26px;
    align-items: center;
    width: 100%;
    max-width: none;
    position: relative;
    z-index: 3;
  }

  .logo-social__logo {
    margin-bottom: 0;
  }
}

@media (max-width: $mobile) {
  .logo-social {
    flex-direction: column;
  }

  .logo-social__logo {
    margin-bottom: 82px;

    svg {
      width: 52px;
      height: 52px;
    }
  }

  .logo-social__logo .logo__title {
    display: block;
  }
}
