.main-display {
  background-color: #1B2D37;
  width: 100%;
  background-image: url("../img/main-background.png");
  background-position: center top;
  position: relative;
  margin-top: -85px;
  z-index: 1;
  background-size: 1920px 878px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main-background@2x.png");
  }
}

.main-display__wrapper {
  position: relative;
  max-width: 1564px;
  margin: 0 auto;
  padding-left: 71px;
  box-sizing: border-box;
  display: flex;
  background: url("../img/plates-desktop.png") right 258px no-repeat, url("../img/icon-main-graphics.svg") center -35px no-repeat;
  background-size: 705px 515px, 1920px 950px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background:url("../img/plates-desktop@2x.png") right 258px no-repeat, url("../img/icon-main-graphics.svg") center -35px no-repeat;
    background-size: 705px 515px, 1920px 950px;
  }
}

.main-display__service {
  position: relative;
  margin-top: 316px;
  margin-bottom: 275px;
  margin-right: 613px;
  display: flex;
  flex-direction: column;
  z-index: 15;
  width: 100%;
}

.main-display__service > span {
    font-family: "PT Mono", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
    padding-left: 98px;
    position: relative;
    margin-bottom: 44px;
    max-width: 666px;

    &::before {
      content: "";
      position: absolute;
      width: 66px;
      height: 2px;
      background-color: #ffffff;
      left: 4px;
      top: 17px;
    }
  }

.main-display__header {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 26px;
}

.main-display__get-consultation {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #00B2FF;
  border: none;
  border-radius: 5px;
  margin-left: 98px;
  display: flex;
  padding: 17px 28px 19px;
  width: 407px;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.4;
    outline: none;
  }
}

.main-display__get-consultation--mobile {
  display: none;
}

.main-display__scroll {
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  text-decoration: none;
  bottom: -149px;
  left: -34px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

@media (max-width: $tablet) {
  .main-display {
    background-size: 1514px 692px;
    background-position: center 9px;
  }

  .main-display__wrapper {
    padding-left: 88px;
    background: url("../img/plates-tablet.png") right 128px no-repeat, url("../img/icon-main-graphics.svg") 50% -145px no-repeat;
    background-size: auto, 1514px 749px;
  }

  .main-display__service {
    margin-top: 203px;
    margin-right: 200px;
    margin-bottom: 163px;
  }

  .main-display__header {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 29px;
  }

  .main-display__header ~ span {
    padding-left: 51px;
    font-size: 18px;
    line-height: 156.8%;
    margin-bottom: 55px;

    &::before {
      width: 33px;
      left: 3px;
      top: 16px;
    }
  }

  .main-display__get-consultation {
    margin-left: 51px;
    width: 379px;
  }

  .main-display__scroll {
    display: none;
  }
}

@media (max-width: $mobile) {
  .main-display {
    background-size: 1446px 661px;
    background-position: -624px 17px;
  }

  .main-display__wrapper {
    padding-left: 15px;
    background: url(../img/plates-mobile.png) right 123px no-repeat,url(../img/icon-main-graphics.svg) 55.5% -130px no-repeat;
    background-size: auto, 1446px 715px;
  }

  .main-display__service {
    width: 100%;
    margin-top: 318px;
    margin-right: 0;
    max-width: 600px;
    padding-right: 19px;
    margin-bottom: 70px;
    max-width: 750px;
  }

  .main-display__header {
    margin-bottom: 27px;
    font-size: 40px;
    line-height: 47px;
  }

  .main-display__service > span {
    font-size: 16px;
    margin-bottom: 42px;

    &::before {
      top: 14px;
    }
  }

  .main-display__get-consultation {
    margin-left: 3px;
    width: 100%;
    padding: 17px 12px 19px;
  }

  .main-display__get-consultation--not-mobile {
    display: none;
  }

  .main-display__get-consultation--mobile {
    display: block;
  }
}
