.office {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #1B2D37;
  margin-left: 10px;

  input {
    display: none;
  }

  label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.office__contacts {
  width: 333px;
  display: flex;
  flex-direction: column;
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1B2D37;
  opacity: 0.5;
  list-style: none;
  padding: 0;
  margin-top: 25px;

  a:hover,
  a:focus {
    color: #00b2ff;
    outline: none;
  }
}

@media (max-width: $tablet) {
  .office {
    margin: 0;
  }
}

@media (max-width: $mobile) {
  .office {
    position: relative;

    input {
      display: block;
      position: absolute;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;

      &:focus ~ label {
        color: #00b2ff;
      }
    }

    h3 {
      padding: 29px 0 28px;
      margin: 0;
    }

    label {
      position: relative;
      display: block;
      cursor: pointer;
      padding: 29px 15px 28px;



      &:hover,
      &:focus {
        color: #00b2ff;
      }
    }

    label::before,
    label::after {
      content: "";
      background-color: #c4c4c4;
      position: absolute;
      top: 50%;
      right: 15px;
      width: 16px;
      height: 1px;
    }

    label::after {
      transform: rotate(90deg);
    }

    input:checked ~ label::after {
      display: none;
    }
  }

  .office::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #353735;
    opacity: 0.2;
    bottom: 0;
  }

  .office__contacts {
    display: none;
    width: auto;
    padding: 0 20px 0 15px;
    margin: 3px 0 29px;
  }

  .office input:checked ~ .office__contacts {
    display: block;
  }
}
