.popup-form {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.popup-form--disabled {
  display: none;
}

.popup-form__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 490px;
  padding: 30px 39px 36px;
  position: absolute;
  background: #00B2FF;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  h6 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    color: #FFFFFF;
    margin: 0 0 13px;
  }

  span {
    font-family: "PT Mono", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 31px;
    padding-right: 10px;
  }
}

.popup-form__container > button {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 23px;
  top: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.5;
    outline: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    left: 0;
    right: 0;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.popup-form__form {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    box-sizing: border-box;
    padding: 12px 24px 18px;

    &::placeholder {
      color: #FFFFFF;
    }
  }

  input {
    margin-bottom: 30px;
  }

  textarea {
    height: 104px;
    resize: none;
  }
}

.popup-form__submit-confirmation {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  button {
    border: 1px solid #FFFFFF;
    margin-bottom: 35px;
    padding: 14px 0;
    border-radius: 5px;
    background-color: transparent;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      opacity: 0.5;
    }
  }

  label {
    font-family: "PT Mono", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    position: relative;
    padding-left: 51px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border: 1px solid white;
      left: 0;
      top: 2px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      opacity: 0.5;
    }
  }

  input:focus ~ label {
    opacity: 0.5;
  }

  input:checked ~ label::after {
    content: "";
    position: absolute;
    width: 5.5px;
    height: 3.5px;
    left: 5px;
    top: 6px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(-45deg);
  }
}

.popup-form__overlay {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  z-index: 1;
}
