.sections-office-wrapper {
  display: flex;
  flex-direction: row;
  min-width: 741px;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 58px;
}

@media (max-width: $tablet) {
  .sections-office-wrapper {
    margin-top: 38px;
    margin-bottom: 58px;
    min-width: auto;
    padding-right: 12px;
  }
}

@media (max-width: $mobile) {
  .sections-office-wrapper {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    margin-top: 23px;
    padding: 0;
  }
}
