.site-sections {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.7px;
  color: #1B2D37;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;

  label {
    text-transform: uppercase;
    margin: 0 0 26px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  input {
    display: none;
  }
}

.site-sections__links-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
}

.site-sections__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1B2D37;
  opacity: 0.5;
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    margin-right: 5px;

    &:hover,
    &:focus {
    color : #00b2ff;
    outline: none;
    }
  }

  li {
    letter-spacing: 0;
  }
}

@media (max-width: $tablet) {
  .site-sections {
    margin: 0 0;
    width: auto;
  }

  .site-sections__links-wrapper {
    flex-direction: column;
  }
}

@media (max-width: $mobile) {
  .site-sections {
    position: relative;
    margin: 0;

    label {
      padding: 29px 15px 28px;
      position: relative;
      cursor: pointer;
      margin: 0;

      &::before,
      &::after {
        content: "";
        background-color: #c4c4c4;
        position: absolute;
        top: 50%;
        right: 15px;
        width: 16px;
        height: 1px;
      }

      &::after {
        transform: rotate(90deg);
      }

      &:hover,
      &:focus {
        color: #00b2ff;
      }
    }

    input {
      display: block;
      position: absolute;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;

      &:focus ~ label {
        color: #00b2ff;
      }

      &:checked ~ label::after {
        display: none;
      }
    }
  }
  .site-sections::before,
  .site-sections::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #353735;
    opacity: 0.2;
  }

  .site-sections::after {
    bottom: 0;
  }

  .site-sections__links {
    padding: 0 15px;
  }

  .site-sections__links-wrapper {
    display: none;
  }

  .site-sections input:checked ~ .site-sections__links-wrapper {
    display: block;
    margin-bottom: 29px;
  }
}
