.social-networks {
  display: flex;
  width: 112px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-networks__links:hover svg,
.social-networks__links:focus svg {
  fill: $style-color;
}

.social-networks__links:focus {
  outline: none;
}

@media (max-width: $tablet) {
  .social-networks {
    width: 112px;
    justify-content: space-between;
  }
}

@media (max-width: $mobile) {
  .social-networks {
    z-index: 3;
  }
}
